<div class="text-danger">
    <h1>No se puede ELIMINAR un ID que tiene relación con otras ENTIDADES</h1>
</div>

<div>
    @Html.ActionLink("Return Categories", "Index", "Categories", null, new { @class = "btn btn-info" })
</div>