<div class="container-portada">
    <div class="capa-gradiente"></div>
    <div class="container-details">
        <div class="details">
            <h1>Labs Mayo</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae blanditiis, 
                corporis esse ex quod et in aspernatur quasi sint molestias optio necessitatibus 
                quae deserunt numquam. Maxime quam reiciendis facere sapiente!</p>
                <button class="my-2">Ver más detalles</button>
        </div>
    </div>
</div>

<section class="mx-5 mt-3">
  <div class="row">
    <div class="col-xs-12 py-3 text-center">
      <h2>This is what distinguishes our Tech Consulting</h2>
      <p>
        <b>These are our pillars for Digital Transformation</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6"><b>TRUE AGILE</b> – We abide by the principles of Agile methodology, working on efficient and adaptive sprints to deliver quality solutions in time. We have specialized teams trained in Scrum, DevOps, Lean, Prototype, RAD and XP methodologies to tackle any type of project regardless of size and complexity.<br>
      <br>
      <b>BUSINESS ACUMEN</b> – Our industry leaders are veteran businessmen who know their industries inside-out and guide their teams past common pitfalls to deliver deep-impact value. We take pride in our unique Roadmap Generation for each project, which allows us to have some of the lowest levels of errors and delays in the Technology industry.<br>
      <br>
      <b>CULTURE TRANSFORMATION</b> – We transform the Digital Culture of your company to embrace change and harness innovation. Every project starts with a NEORIS Registered Tech Maturity Assessment, which identifies Technological Pain Points in your company which we target with Employee Specialized Training and Deep-dive workshops.<br>
      &nbsp;</div>
      <div class="col-xs-12 col-md-6"><b>DATA CENTRIC</b> – We believe in what we can measure. This is why every Digital Solution we provide is backed-up by constant benchmarks of industry-specific markets and users. We stay on the vanguard by constantly checking our actions against hard-data and adapting to the ever-shifting paradigms of Technology use.<br>
        <br>
        <b>DIGITAL ARCHITECTURE</b> – We don’t just provide Digital Solutions; we create a Digital Ecosystem tailored to your company’s unique situation that allows complete integration between Technology, your employees and your users. This is what separates a quick-fix from a robust and long lasting solution that will empower your business for years to come.
      </div>
  </div>
</section>
