@model Lab.EF.MVC2.Models.CategoriesView
@{
    ViewBag.Title = "Update Categories Page";
}

@using (Html.BeginForm("Update", "Categories", FormMethod.Post, new { id = "formulario" }))
{
    <div class="row" style="margin-top:2vh;">

        <div class="col-xs-offset-4" style="width:50%">
            <label>Id: </label>
            @Html.TextBoxFor(c => c.CategoryID, "", new { @class = "form-control", @readonly = "readonly" })
            <label>Name: </label>
            @Html.TextBoxFor(c => c.CategoryName, "", new { @class = "form-control" })
            <label>Description: </label>
            @Html.TextBoxFor(c => c.Description, "", new { @class = "form-control" })

            <br />
            <div style="text-align:right;">
                <button value="Guardar" class="btn btn-primary" id="Save" type="submit">Update</button>
            </div>

        </div>
    </div>
}

<script>
    window.onload = start;
    function start() {
        document.getElementById("formulario").addEventListener("submit", sub);

    };

    const expresiones = {
        name: /^[A-Z]+$/i
    }

    const sub = (e) => {
        if (!document.getElementById("CategoryName").value) {
            e.preventDefault();
            alert("UPS! EL NAME NO PUEDE ESTAR VACÍO");

        } else {
            if (!expresiones.name.test(document.getElementById("CategoryName").value)) {
                e.preventDefault();
                alert("UPS! NO ESTÁ CUMPLIENDO CON EL FORMATO");

            } else if ((document.getElementById("CategoryName").value).length > 15) {
                e.preventDefault();
                alert("UPS! EL NAME NO PUEDE TENER MÁS DE 15 DIGITOS");
            } else {
                alert("SE ACTUALIZÓ CORRECTAMENTE :D"); //No sé si es recomendable avisar antes del suceso, puesto que tal vez haya algún error en la bd y cagué.--> Averiguar como podría volver un msj de confirmación cuando ya se haya llamado al controlador
            }

            console.log("--------ENTRO AL ENVÍO-----------");
        }
    };
</script>

