<h1 class="text-center">Listado de Categorias</h1>
<div class="table-responsive">
    <button class="btn btn-secondary my-2" [routerLink]="['/create',]">Add New Categorie</button>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let item of characters">
            <th scope="row">{{item.CategoryID}}</th>
            <td> {{item.CategoryName}} </td>
            <td> {{item.Description}} </td>
            <td>
                <button class="btn btn-secondary mx-3" [routerLink]="['/update',item.CategoryID]">Actualizar</button>
                <button class="btn btn-secondary" [routerLink]="['/delete',item.CategoryID]">Eliminar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
